
 body{
  background-color: #ebeff5;
 }

 .navbar-brand { 
  max-height: 20px;
  max-width: 30%; 
  overflow: visible;
  padding-top: 0;
  padding-bottom: 40px; 
}

img {
 max-width: 60px; 
 height: auto; 
}


 #total-orders{
  background-color:#4cb4c7 ;
 }

 #orders-delivered{
  background-color: #7abecc;
 }
 #orders-pending{
  background-color: #7CD1C0 ;
 }
